export(getDataset)
export(getInteraction)
export(getNetwork)
export(getPop)
export(getPopstate)
export(getTaxa)
export(listDatasets)
export(listNetworks)
export(listPop)
export(listPopstates)
export(listTaxa)
export(mangalAPI)
export(sayHi)
import(httr)
import(rjson)
