export(addDataset)
export(addEnvironment)
export(addInteraction)
export(addItem)
export(addNetwork)
export(addPopulation)
export(addReference)
export(addTaxa)
export(addTrait)
export(availableResources)
export(getDataset)
export(getEnvironment)
export(getInteraction)
export(getItem)
export(getNetwork)
export(getPopulation)
export(getReference)
export(getTaxa)
export(getTrait)
export(listDataset)
export(listEnvironment)
export(listInteraction)
export(listItem)
export(listNetwork)
export(listPopulation)
export(listReference)
export(listTaxa)
export(listTrait)
export(makefilter)
export(mangalSearch)
export(mangalapi)
export(patchDataset)
export(patchEnvironment)
export(patchInteraction)
export(patchItem)
export(patchNetwork)
export(patchPopulation)
export(patchReference)
export(patchTaxa)
export(patchTrait)
export(releaseDataset)
export(toCheddar)
export(toIgraph)
export(whatIs)
